[Unit]
Description=FanUnit
After=syslog.target

[Service]
Type=simple
Restart=always

User=root
Group=root

ExecStart=/usr/bin/python3 /root/scripts/fan.py
ExecStop=/bin/kill -s SIGINT -$MAINPID & /bin/kill -s SIGINT -$MAINPID
ExecReload=/usr/bin/python3 /root/scripts/fan.py
TimeoutSec=300

[Install]
WantedBy=multi-user.target